/*-- scss:defaults --*/

/* Pulled from coolors pallette */
$cyan:    #1f3ca3 !default;
$green:   #4d8b31 !default;
$orange:  #cc6600 !default;
$blue:    #98c1d9 !default;

/*-- scss:rules --*/

h2 {
  color: #98c1d9;
}

