/*-- scss:defaults --*/

/* Pulled from coolors pallette */
$cyan:    #98c1d9 !default;
$green:   #4d8b31 !default;
$orange:  #cc6600 !default;
$blue:    #1f3ca3 !default;

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Medium screen / desktop
$container-desktop:            (1840px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1840px + $grid-gutter-width) !default;

/*-- scss:rules --*/

h2 {
  color: #1f3ca3;
}

